:root {
  --zo-color: #eee;
  --zo-border: #eee;
  --zo-background: #333;
  --zo-font-family: Roboto Mono, Source Code Pro, Menlo, Courier, monospace;
  color: var(--zo-color);
  background-color: var(--zo-background);
  font-family: var(--zo-font-family);
}

.zo--row-container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.zo--row {
  position: relative;
  min-height: 100px;
  width: 100%;
  overflow: auto;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid var(--zo-border);
  padding-bottom: 10px;
}

/**
* Editor 
*/

.zo--editor:empty::before {
  content: "Select image";
}
.zo--editor {
  position: relative;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAANJwAADScBQwZj3AAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAAmSURBVBiVY2TAAp49e/YfXYwJm0JsYAAVMmJzuJSUFCPtraa+QgDLYwfEbRLGHgAAAABJRU5ErkJggg==);
  background-size: 10px 10px;
  background-position: 0 0, 5px 0, 5px -5px, 0px 5px;
  outline: 1px dashed var(--zo-border);
  background-color: #9e9e9e;
  margin-top: 20px;
  margin-bottom: 20px;
  user-select: none;
}

/**
* Images 
*/
.zo--images-gallery {
  user-select: none;
  display: flex;
  overflow-x: auto;
  position: relative;
  padding-top: 10px;
  min-width: 100%;
}
.zo--image-container {
  margin: 3px;
  height: 100px;
  width: 100px;
  display: inline-block;
  cursor: pointer;
}
.zo--images-gallery:empty::before {
  content: "Drop images";
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.zo--images-gallery.busy::before {
  content: attr(data-message);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  backdrop-filter: blur(10px);
  z-index: 1;
  pointer-events: none;
}
/**
* buttons 
*/
.zo--btn {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--zo-background);
  border: 1px solid var(--zo-border);
  color: var(--zo-color);
}
.zo--btn-circle-small {
  position: absolute;
  width: 20px;
  height: 20px;
}
